.flag
  display: inline-block;
  width: 16px;
  height: 14px;
  background: url('../img/flags.png') no-repeat
  margin-bottom -1px

.flag.flag-au
  background-position: 0 0

.flag.flag-za
  background-position: -16px 0