@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900')

body, .pure-g [class*=pure-u]
  font-family "Source Sans Pro", serif
  color: #1C1C1C
  background-color #fefefe

a
  text-decoration none
  color #3356BF

ul
  list-style-type square

article
  margin-bottom 50px

page-width =
  max-width 960px

.social-sharing
  .call-to-action
    font-weight bold

.site-header
  margin-bottom 2em
  padding 0 16px
  {page-width}
  margin-left auto
  margin-right auto
  &::after
    clear both
    content ""
    display table

.heart:before
  content '\2665'
  color red

.subtitle
  font-size 300%
  text-align center
  font-style italic
  margin-bottom 60px
  margin-top 20px

@media only screen and (min-width: 768px)
  .site-header
    padding 0 1.5em

@media only screen and (min-width: 992px)
  .site-header
    padding 0 48px

@media only screen and (min-width: 1240px)
  .site-header
    margin-bottom 0
    padding-top 48px

@media only screen and (min-width: 1400px)
  .site-header
    padding-top 4em

.logotype-link
  color #182532
  display inline-block

.content
  {page-width}
  margin-left auto
  margin-right auto
  padding 0 48px

.site-footer
  margin-bottom 48px
  {page-width}
  margin-left auto
  margin-right auto
  padding 16px
  & .copyright
    border-top 1px solid #cccccc
    display block
    text-align center
    padding 16px 0
  & .powered-by
    display block
    text-align center
    padding 16px 0
