.logotype
  text-align center

.logotype-link
  color #182532
  display inline-block

.logotype-text
  display block
  font-size 4rem
  font-weight 900
  line-height 1
  text-transform uppercase

.logotype-tag-line
  display block
  font-size 2.125rem
  font-weight 300

@media only screen and (min-width: 480px)
  .logotype-text
    font-size 4rem
  .logotype-tag-line
    font-size 2rem

@media only screen and (min-width: 768px)
  .logotype
    margin-bottom 1.5em
  .logotype-text
    font-size 5.5rem
    line-height 0.7
  .logotype-tag-line
    font-size 3rem

@media only screen and (min-width: 992px)
  .logotype-text
    font-size 6.75rem
  .logotype-tag-line
    font-size 3.5rem

@media only screen and (min-width: 1240px)
  .logotype
    float left
    text-align left
  .start-page
    .logotype
      float none
      text-align center
    .logotype-text
      font-size 8.875rem
    .logotype-tag-line
      font-size 4.8125rem
  .logotype-text
    font-size 3.25rem
  .logotype-tag-line
    font-size 1.75rem

@media only screen and (min-width: 1400px)
  .logotype-text
    font-size 4rem
  .logotype-tag-line
    font-size 2rem

.page-content
  & > h1
    font-size 32px
    font-weight 700
    text-align center
    text-transform uppercase
  & > p
    max-width 50rem