<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
<div>
    {{ partial "nav.html" . }}
    <div class="content">
        <article class="post">
            <header class="post-header">
                <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                <p class="post-meta">
                    {{ with .Params.author }}
                    By <strong class="post-author">{{ . }}</strong>
                    {{ end }}
                    {{ if isset .Params "tags" }}
                    {{ $baseUrl := .Site.BaseURL }}
                    {{ range .Params.tags }}<a class="post-tag post-tag-{{ . }}" href="{{ $baseUrl }}/tags/{{ . | urlize }}">#{{ . }}</a>{{ end }}
                    {{ end }}
                </p>
            </header>
            <div class="post-description">
                {{ .Content }}
            </div>
            {{ template "_internal/disqus.html" . }}
        </article>
    </div>
    {{ partial "footer.html" . }}
    {{ partial "analytics.html" . }}
</div>
</div>
{{ partial "body.html" . }}
</body>
</html>